:root {
    --heading-color: #16165f;
}

#images,
#awards,
#qualities {
    padding-top: 35px;
}

#bottommessage {
    padding-top: 25px;
    /* 10 less due to 10 being added from bulletin */
}

#aboutmediv {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 35px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin: auto;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

#closeupjohnimage,
#awardsjohnimage,
#officeimage {
    height: 350px;
    border: 1px solid #000;
}

#aboutjohntitle,
#awardstitle,
#qualitiestitle,
#bottommessagebody {
    color: var(--heading-color);
    font-size: 24px;
    margin-bottom: 10px;
}

#aboutjohnbody,
#awardsbody,
#qualitiesbody,
#closeupimagetext,
#awardsimagetext,
#officeimagetext {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
}

#closeupimagetext,
#awardsimagetext,
#officeimagetext {
    text-align: center;
}

#qualities li {
    margin-bottom: 10px;
}

#qualities li span {
    font-weight: bold;
    color: var(--heading-color);
}


@media screen and (max-width: 500px) {

    #images,
    #awards,
    #qualities {
        padding-top: 10px;
    }

    #bottommessage {
        padding-top: 5px;
        /* 5 less due to 5 being added from bulletin */
    }

    #closeupjohnimage,
    #awardsjohnimage,
    #officeimage {
        height: 150px;
    }

    #aboutjohntitle,
    #qualitiestitle,
    #bottommessagebody {
        font-size: 20px;
    }

    #aboutjohnbody,
    #awardsbody,
    #qualitiesbody,
    #closeupimagetext,
    #awardsimagetext,
    #officeimagetext {
        font-size: 15px;
        line-height: 1.2;
    }

    #qualities li {
        margin-bottom: 5px;
    }
}